.chart {
  max-height: 500px;
}

.input-data {
  margin: 10px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

.log-in p {
  margin: auto;
}

.navbar-nav li {
  margin: 0 auto;
}
