.chart {
  max-height: 500px;
}
.new-painkiller {
  display: flex;
  flex-direction: row;
}

.painkiller p {
  margin: auto 0;
}

.painkiller label {
  margin: auto 0;
}

.input-data {
  margin: 10px;
}

.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

.log-in p {
  margin: auto;
}

.navbar-nav li {
  margin: 0 auto;
}
